@model Credit_Managment_System_ASP.NET_MVC.View_Models.MerchantUpdateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Merchant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" type="file" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <img src="@Model.LogoUrl" alt="@Model.Name" style="max-height: 150px;" />

            <div class="form-group">
                <label asp-for="BranchIDs" class="control-label"></label>
                <select name="BranchIDs" asp-items="ViewBag.Branches" multiple="multiple" class="listbox"></select>
                <span asp-validation-for="BranchIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" readonly value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" readonly value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

