@model Credit_Managment_System_ASP.NET_MVC.View_Models.BranchVM

@{
    ViewData["Title"] = "Create Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Branch</h2>

<form asp-action="Create" method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MerchantId" class="control-label">Category</label>
        <select asp-for="MerchantId" class="form-control" asp-items="ViewBag.Merchants">
            <option value="">-- Select Merchants --</option>
        </select>
        <span asp-validation-for="MerchantId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>



